:root {
	--bg-color: #313131;
	--text-color: #fff;
}

html {
	background-color: var(--bg-color);
}

body,
main {
	display: flex;
	flex-direction: column;
}

body,
main,
#root {
	min-height: 100vh;
}

#side-menu a {
	color: var(--text-color);
}

#contents {
	flex-grow: 1;
	color: var(--text-color);
}

main > .row {
	margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1.5rem 0 1.5rem 0;
}

h1,
h2,
h3 {
	word-break: break-all;
}

p {
	text-align: justify;
}

.search {
	display: inline-block;
	margin-right: 0.5rem;
}

.table-container {
	overflow: auto;
}

.single-nav {
	margin-top: 1rem;
}

.single-nav a {
	display: inline-block;
}

input[type="submit"],
.btn input[type="reset"] {
	color: #fafafa;
}
